def part_1
  return ""
end

def part_2
  return ""
end

def run(fn)
  start = Time.monotonic.total_nanoseconds
  result = fn.call
  duration = (Time.monotonic.total_nanoseconds - start).to_i64
  puts "(#{duration}): #{result}"
end

print "part_1 "
run ->{ part_1 }
print "part_2 "
run ->{ part_2 }
