def {func_name}
  return ""
end

def run(fn)
  start = Time.monotonic.total_nanoseconds
  result = fn.call
  duration = (Time.monotonic.total_nanoseconds - start).to_i64
  puts "(#{duration}): #{result}"
end

print "{func_name} "
run ->{ {func_name} }
