package main

import (
	"fmt"
	_ "unsafe"
)

func {func_name}() string {
	return ""
}

//go:linkname nanotime runtime.nanotime
func nanotime() int64

func run[T any](fun func() T) {
	start := nanotime()
	result := fun()
	duration := nanotime() - start
	fmt.Printf("(%d): %v\n", duration, result)
}

func main() {
	fmt.Print("{func_name} ")
	run({func_name})
}
