function part_1() {
    return "";
}

function part_2() {
    return "";
}

function run(fun) {
    const start = process.hrtime.bigint();
    const result = fun();
    const duration = process.hrtime.bigint() - start;
    console.log(`(${duration}): ${result}`);
}

process.stdout.write("part_1 ");
run(part_1);
process.stdout.write("part_2 ");
run(part_2);
