class Main {

    public static void main(String[] args) {
        Part1 part1 = new Part1();
        Part2 part2 = new Part2();

        System.out.println("part_1: " + part1.run());
        System.out.println("part_2: " + part2.run());
    }
}

class Part1 {

    public Object run() {
        return "";
    }
}

class Part2 {

    public Object run() {
        return "";
    }
}
