function {func_name}() {
    return "";
}

function run(fun) {
    const start = process.hrtime.bigint();
    const result = fun();
    const duration = process.hrtime.bigint() - start;
    console.log(`(${duration}): ${result}`);
}

process.stdout.write("{func_name} ");
run({func_name});
