class Main {

    public static void main(String[] args) {
        {func_name} part = new {func_name}();

        System.out.println("{func_name}: " + part.run());
    }
}

class {func_name} {

    public Object run() {
        return "";
    }
}
