local function part_1()
    return ""
end

local function part_2()
    return ""
end

local function run(fun)
    local start = os.clock()
    local result = fun()
    local duration = math.floor((os.clock() - start) * 1e9)
    print(string.format("(%d): %s", duration, result))
end

io.write("part_1 ")
run(part_1)
io.write("part_2 ")
run(part_2)
