def part_1
  return ""
end

def part_2
  return ""
end

def run(fun)
  start = Process.clock_gettime(Process::CLOCK_MONOTONIC, :nanosecond)
  result = fun.call
  duration = Process.clock_gettime(Process::CLOCK_MONOTONIC, :nanosecond) - start
  puts "(#{duration}): #{result}"
end

print "part_1 "
run -> { part_1 }
print "part_2 "
run -> { part_2 }
