//bin/true; src="$(basename "$0")"; rustc -o "/tmp/${src}.bin" 1>&2 "$0" && "/tmp/${src}.bin" "$@"; exit $?

pub fn part_1() -> String {
    return "".to_string();
}

pub fn part_2() -> String {
    return "".to_string();
}

pub fn main() {
    println!("part_1: {}", part_1());
    println!("part_2: {}", part_2());
}
