//bin/true; src="$(basename "$0")"; rustc -o "/tmp/${src}.bin" 1>&2 "$0" && "/tmp/${src}.bin" "$@"; exit $?

use std::time::Instant;

pub fn part_1() -> String {
    return "".to_string();
}

pub fn part_2() -> String {
    return "".to_string();
}

fn run<F: Fn() -> String>(f: F) {
    let start = Instant::now();
    let result = f();
    let duration = start.elapsed().as_nanos();
    println!("({}): {}", duration, result);
}

pub fn main() {
    print!("part_1 ");
    run(part_1);
    print!("part_2 ");
    run(part_2);
}
