//bin/true; src="$(basename "$0")"; rustc -o "/tmp/${src}.bin" 1>&2 "$0" && "/tmp/${src}.bin" "$@"; exit $?

pub fn {func_name}() -> String {
    return "".to_string();
}

pub fn main() {
    println!("{func_name}: {}", {func_name}());
}
