<footer
  class="flex h-24 w-full flex-col items-center justify-center bg-dark-100"
>
  <p class="text-primary text-sm">
    Made with ❤️ by
    <a
      class="text-primary hover:text-primaryLight font-bold"
      href="https://xhyrom.dev"
      target="_blank"
      rel="noopener noreferrer"
    >
      @xHyroM
    </a>
  </p>
  <p class="text-primary text-sm">
    <a
      class="text-primary hover:text-primaryLight font-bold"
      href="https://github.com/xHyroM/aoc/tree/main/www"
      target="_blank"
      rel="noopener noreferrer"
    >
      View Source
    </a>
  </p>
</footer>
