---
const lastUpdate = new Date();
---

<footer
  class="flex h-24 w-full flex-col items-center justify-center bg-primaryDottedFooter bg-primaryDottedSize"
>
  <p class="text-primary text-sm">
    Made with ❤️ by
    <a
      class="text-primary hover:text-primaryLight font-bold"
      href="https://xhyrom.dev"
      target="_blank"
      rel="noopener noreferrer"
    >
      @xHyroM
    </a>
  </p>
  <p class="text-primary text-sm">
    <a
      class="text-primary hover:text-primaryLight font-bold"
      href="https://github.com/xHyroM/aoc/tree/main/www"
      target="_blank"
      rel="noopener noreferrer"
    >
      View Source
    </a>
  </p>
  <p class="text-primary text-sm pt-3">
    Last updated on
    {
      lastUpdate.toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    } at {
      lastUpdate.toLocaleTimeString("en-US", {
        hour: "2-digit",
        minute: "2-digit",
        timeZoneName: "short",
      })
    }
  </p>
</footer>
